@import url('https://fonts.googleapis.com/css?family=Lato:300,700,900');

@import 'settings';
@import 'foundation-emails';

@import 'template/template';

th.columns{
  padding-bottom: 0px;
}

// Global typography
// -------

h1, p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
h1, h2 {
  font-weight: 900;
}

h3, h4, h5 {
  font-weight: 700;
}


// Spacing at bottom of images
// -------
.full-width-image {
  padding-bottom: 0px !important;
}


// FOOTER
// -------
.social-media-item {
  img {
    width: 32px !important;
    height: 32px !important;
  }
}

@media screen and (max-width: 597px) {

  .social-media {
    padding-right: 20px !important;
  }

  .social-media-item {
    padding-right: 0px !important;
    img {
      padding-bottom: 30px !important;
    }
  }
}

table.menu th.menu-item a {
  color: #50667f;
  font-size: 13px;
}
